[Unit]
Description=Sinan Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/opt/sinan/core/current/sinan-agent verify-installed --binary /opt/sinan/core/current/sinan-agent --name agent --format raw
ExecStart=/opt/sinan/core/current/sinan-agent run
Restart=always
RestartSec=5
UMask=0027

[Install]
WantedBy=multi-user.target
